<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cdn/css/lecturerdashboard.css" />
    <link rel="stylesheet" href="/cdn/css/calendar.css">
    <script defer src="/cdn/scripts/calendar.js"></script>
    <script defer src="/cdn/scripts/lecturerdashboard.js"></script>
    <script>
        function openNav () {
            document.getElementById('myNav').style.width = '100%';
        }
    </script>
    <script>
        function closeNav () {
            document.getElementById('myNav').style.width = '0%';
        }
    </script>
    <title>Lecturer Dashboard</title>
</head>

<body>
    <div class="app-name-container">
        <h1 class="app-name">C O N S U L T <span class="station">S T A T I O N</span></h1> 
    </div>
    <div class="text-center" id = "heading">
        Welcome to your Lecturer Dashboard!
    </div>
    <div id="myNav" class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <div class="overlay-content">
            <form method="post" action="db/logout">
                <div class="btn-link" id="logout_button_div">
                    <button class ="btn-link" type="submit" id = "logout_button">Logout</button>
                </div>
            </form>
             <div class="button" id="delete_button_div">
                <button type="submit" id="deleteUser" class="btn btn-danger"> Delete Your account</button>
            </div>
        </div>
    </div>
    <span class="options-button" onclick="openNav()">&#9776;</span>
    <div class="container">
        <div class = "container-left">
            <h2 class="text-center">Calendar</h2>
            <div class="calendar-container">
                <div class="calendar-header">
                    <button class="btn btn-primary" id="previous-btn">Previous Month</button>
                    <h3 id="month-year" class="text-center"></h3>
                    <button class="btn btn-primary" id="next-btn">Next Month</button>
                </div>
                <table class="table">
                    <tbody id="calendar"></tbody>
                </table>
            </div>
        </div>
        
        <div class="scheduleContainer">
            <form action="db/setAvailability" method="post" id="available">
                <h2 class="text-center">Set available times</h2>
                <div class="selectDate">
                    <select class="form-select" id="daysDropdown" name="day" required>
                        <option disabled selected value=""> Choose a day of the week</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                    </select>
                    <br>
                    <label for="time">Select start time</label>
                    <input type="time" id="time" name="time" required>
                    </br>
                    <input type="number" id="duration" placeholder="Enter duration in minutes" name="duration" max="120" required>
                    <br>
                    <input type="number" id="groupSize" placeholder="Enter group size" name="groupSize" max="20" required>
                        <div>
                            <button id="submitSchedule" class="btn btn-primary" type="submit">Set availability</button>
                        </div>
                </div>
             </form>
             <div id="availability">
            </div>
        </div>
            
    </div>
</body>

</html>