<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cdn/css/calendar.css">
    <script defer src="/cdn/scripts/calendar.js"></script>
    <title>Lecturer Dashboard</title>
</head>

<body>
    <h1>CONSULTATION</h1>
    <p>
        Welcome to your Lecturer Dashboard
    </p>
    <div>
        - View Calendar
    </div>
    <div>
        - Handle scheduling
    </div>

    <div class="container">
        <h1 class="text-center">Calendar</h1>
        <div class="calendar-container">
            <div class="calendar-header">
                <button class="btn btn-primary" onclick="changeMonth(-1)">Previous Month</button>
                <h3 id="month-year" class="text-center"></h3>
                <button class="btn btn-primary" onclick="changeMonth(1)">Next Month</button>
            </div>
            <table class="table">
                <tbody id="calendar"></tbody>
            </table>
        </div>
        <div class="scheduleContainer">
            <form action="db/setAvailability" method="post">
                <h2>Set available times</h2>
                <div class="selectDate">
                    <select class="form-select" id="daysDropdown" name="day" required>
                        <option disabled selected value=""> Choose a day of the week</option>
                        <option value="1">Monday</option>
                        <option value="2">Tuesday</option>
                        <option value="3">Wednesday</option>
                        <option value="4">Thursday</option>
                        <option value="5">Friday</option>
                    </select>
                    <br>
                    <label for="time">Select start time</label>
                    <input type="time" id="time" name="time" required>
                    </br>
                    <input type="number" id="duration" placeholder="Enter duration in minutes" name="duration" required>
                    <br>
                    <input type="number" id="groupSize" placeholder="Enter group size" name="groupSize" required>
                    </div>
                </div>
                <div>
                    <button id="submitSchedule" class="btn btn-primary" type="submit">Set availability</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>