<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="/cdn/scripts/calendar.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/cdn/css/calendar.css">
    <script defer src="/cdn/scripts/studentdashboard.js"></script>
    <title>Student Dashboard</title>
</head>

<body>
    <h1>CONSULTATION</h1>
    <p>
        Welcome to your student Dashboard
    <form method="post" action="db/logout">
        <div class="button" id="logout_button_div">
            <button type="submit" id="logout_button">Logout</button>
        </div>
    </form>
    <div class="button" id="delete_button_div">
        <button type="submit" id="deleteUser" class="btn btn-danger"> Delete Your account</button>
      </div>
    <div class="container">
        <h1 class="text-center">Calendar</h1>
        <div class="calendar-container">
            <div class="calendar-header">
                <button class="btn btn-primary" id="previous-btn">Previous Month</button>
                <h3 id="month-year" class="text-center"></h3>
                <button class="btn btn-primary" id="next-btn">Next Month</button>
            </div>
            <table class="table">
                <tbody id="calendar"></tbody>
            </table>
        </div>
    </div>
    <form method="post" action="db/bookMeeting">
        <div class="container" id="scheduleDiv">
            <h2>Schedule/Join a meeting</h2>
            <div class="dropdown">
                <select class="form-select" id="lecturerDropdown" name="lecturer">
                    <option selected disabled value=''> Choose Lecturer</option>
                </select>
            </div>
            <div class="existingMeetings" id="existingMeetings">
            </div>
            <div class="selectDate">
                <h3>Schedule a meeting</h3>
                <label for="selectDate">Choose a date for consultation</label>
                <input type="date" name="date" id="selectDate">
            </div>
            <div class="timesDropdown">
                <label for="timesDropdown">Choose a time for consultation</label>
                <select class="form-select" id="timesDropdown" name="time">
                    <option selected disabled value=''>Choose Time</option>
                </select>
            </div>
            <div id="meetingName">
                <label for="nameInput">Enter a name for the meeting</label>
                <input type="text" name="nameInput" id="nameInput" placeholder="Name" required>
            </div>

        </div>
        <div class="btn btn-primary">
            <button id="submitSchedule" class="btn btn-primary">Schedule meeting</button>
        </div>
    </form>
</body>

</html>