.calendar-container {
    max-width: 500px; 
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.current-day {
    background-color: #007bff;
    color: #fff;
}

.meeting-day {
    background-color: #28a745;
    color: #fff;
}

.current-meeting-day {
    background-color: #ff0707;
    color: #fff;
}

.multiple-meeting-day {
    background-color: #ffc107;
    color: #fff;
}

.close:hover {
    cursor: pointer;
}

dialog {
    border: none; /* Remove the default border */
    border-radius: 10px; /* Set the border radius to create rounded corners */
    box-shadow: 10px 10px 2px rgba(0, 0, 0, 0.3); /* Add a box shadow for a visual effect */
    width: 250px;
  }